@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0;
font-family: 'Poppins', sans-serif;
}

:root {

  --light-green: #C6DF1C;
  --green: #ABBD32;
  --dark-green: #2A7748;
  --dark-blue: #568CFF;
  --blue: #5698FF;
  --light-blue: #D3E0FF;
  --white: #fffafa;
}

body{
  display: flex;
  flex-direction: row;
}

iframe{
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
}

.container-animation{
  width: 50%;
  min-width: 350px;
  color: black;
  padding-top: 75px;
  padding-left: 50px;
}

.container-animation-text{
  width: 80%;
}

.container-animation h1{
  font-size: 3rem;
}

.container-animation p{
  font-size: 1.5rem;
}

.container-form{
  z-index: 2;
  width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.form-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-cep{
  width: 50%;
  min-width: 400px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid gray;
  font-size: 1.2rem;
  padding: 4px 4px 4px 20px;
}

#button-cep{
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--dark-green);
  color: var(--white);
  opacity: 0.8;
  margin-left: 15px;
}

#button-cep:hover{
  cursor: pointer;
  opacity: 1;
  transition: 300ms;
}

#button-cep:focus{
  outline-style: none;
}

.container-response{
  width: 80%;
  font-size: 1.3rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 50px;
}

.container-response p{
  margin-bottom: 10px;
}


#container-map{
  width: 70%;
  height: 200px;
}

@media only screen and (max-width: 1160px) {
  body{
    flex-direction: column;
  }

  .container-animation{
    width: 100vw;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  lottie-player{
    display: none;
  }

  .form-group{
    width: auto;
  }

  .container-form{
    padding-top: 50px;
    width: 100vw;
    align-items: center;
  }

  #input-cep{
    width: 90%;
  }

  #button-cep{
    align-self: center;
  }

  .container-response{
    flex-direction: column;
    align-self: center;
  }

  #container-map{
    width: 100%;
  }
}



@media only screen and (max-width: 750px) {
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #button-cep{
    margin-left: 0px;
    margin-top: 20px;
  }
}